
<div class="flow-body">

    <!-- Enter Phone -->
    <span *ngIf="pageEnterPhone">
        <p class="text-center">{{ 'PageEnterPhone.Line_1' | translate }}</p>
        <input type="text" class="flow-input flow-input--red" [(ngModel)]="enterPhoneNumber" [disabled]="!showElement">
        <p class="text-center"><small>{{ 'PageEnterPhone.Line_2' | translate }}</small></p>

        <span *ngIf="showElement">
            <a href="javascript:;" class="flow-btn flow-btn--red" (click)="sendPhone(enterPhoneNumber)">{{ 'PageEnterPhone.ButtonText' | translate }}</a>
        </span>
        <span *ngIf="!showElement">
            <br>
            <p align="center">
                <img src="/assets/img/loader-line.gif">
            </p>
        </span>

        <p>
            <span>{{ 'PageEnterPhone.Line_3' | translate }}</span>
        </p>
    </span>
    <!-- END Enter Phone -->

    <!-- Enter pin Code -->
    <span *ngIf="pageGetPin">
        <p class="text-center">
            {{ 'PageEnterPin.Line_1' | translate }}
        </p>
        <input type="text" class="flow-input flow-input--red" [(ngModel)]="enterPinCode" [disabled]="!showElement">
        <p class="text-center">
            <small>{{ 'PageEnterPin.Line_2' | translate }}</small>
        </p>
        <span *ngIf="showElement">
            <a href="javascript:;" class="flow-btn flow-btn--red" (click)="checkPinCode(enterPinCode)" [innerHTML]="'PageEnterPin.ButtonText' | translate"></a>
        </span>
        <span *ngIf="!showElement">
            <br>
            <p align="center">
                <img src="/assets/img/loader-line.gif">
            </p>
        </span>
        <p class="text-center"><small>{{ 'PageEnterPin.Line_3' | translate }}</small></p>
    </span>
    <!-- END Enter pin Code -->
    
    <!-- Enter Email and send all data to license API -->
    <span *ngIf="pageEnterEmail">
        <p class="text-center">
            Enter email
        </p>
        <input type="text" class="flow-input flow-input--red" [(ngModel)]="enterEmail" [disabled]="!showElement">
        <p class="text-center">
            <small>small text</small>
        </p>
        <span *ngIf="showElement">
            <a href="javascript:;" class="flow-btn flow-btn--red" (click)="createLicense(enterEmail)">Send email</a>
        </span>
        <span *ngIf="!showElement">
            <br>
            <p align="center">
                <img src="/assets/img/loader-line.gif">
            </p>
        </span>
        <p class="text-center"><small>Text Text Text</small></p>
    </span>
    <!-- END Enter Email -->
    
    <!-- Success sibscribe -->
    <span *ngIf="pageSuccess">
        <div class="flow-alert">
            {{ 'PageSuccessSibscribe.Line_1' | translate }}
        </div>
        <ul class="flow-list" [innerHTML]="'PageSuccessSibscribe.Line_2' | translate">
        </ul>
    </span>
    <!-- END Success sibscribe -->
    
    <!-- Subscribe page, if infimedia sender phone number  -->
    <span *ngIf="pageSubscribe">
        <p class="text-center">Click here or send MP to 50481
            to subscribe to McAfee.</p>
        <a href="javascript:;" class="flow-btn flow-btn--red" (click)="buttonSubscribe()">SUBSCRIBE</a>
        <p class="text-center">
            Subscribe now for 0.15BHD/DAY.
            Provided by Mobiclix Pte Ltd. Service will be
            charged to this mobile phone bill. By subscribe
            you have agreed to the “Terms and Conditions”
            and that you are at least 18 years old. You can
            unsubscribe from the service anytime by text
            U MP to 50481.<br>
            Subscription is automatically renewed.
            Customer support? Call free <a href="tel:0386010107" class="link link--red">0386010107</a>
        </p>
    </span>
    <!-- END Subscribe page, if infimedia sender phone number  -->
    
    <!-- Сonfirm subscription  -->
    <span *ngIf="pageConfirmSubscribe">
        <p class="text-center">Click here or send MP to 50481
            to subscribe to McAfee.</p>
        <a href="javascript:;" class="flow-btn flow-btn--red" (click)="buttonConfirmSubscribe()">CONFIRM</a>
        <p class="text-center">
            Subscribe now for 0.15BHD/DAY.
            Provided by Mobiclix Pte Ltd. Service will be
            charged to this mobile phone bill. By subscribe
            you have agreed to the “Terms and Conditions”
            and that you are at least 18 years old. You can
            unsubscribe from the service anytime by text
            U MP to 50481.<br>
            Subscription is automatically renewed.
            Customer support? Call free <a href="tel:0386010107" class="link link--red">0386010107</a>
        </p>
    </span>
    <!-- END Сonfirm subscription  -->
    
    <p>
        {{ 'BottomText.Line_4' | translate }} <a href='tel:0386010107' class='link link--red'>0386010107</a>
    </p>
</div>

<!--<button type="button" class="btn btn-info" (click)="myTest()">My Test</button>

<button type="button" class="btn btn-info" (click)="testChild()">Child modal</button>-->

<child-modal-comp [showModal]="statusModal" [childTitleModal]="titleModal" [childContentModal]="contentModal"></child-modal-comp>

