@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&subset=vietnamese");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

p {
  margin-top: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.flow {
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flow-header {
    position: relative; }
    .flow-header img {
      width: 100%; }
  .flow-body {
    padding: 10px 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .flow-body p {
      font-size: .9rem;
      margin-bottom: .5rem; }
    .flow-body small {
      font-style: italic;
      font-size: .7rem; }
  .flow-footer {
    background-color: #939598;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .flow-footer a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85rem;
      color: #fff; }
  .flow-lang {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 .5rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: #c01818;
    z-index: 2;
    border: 2px solid #fff; }
    .flow-lang a {
      color: #c01818;
      text-decoration: none;
      font-size: 1.25rem; }
  .flow-input {
    width: 260px;
    margin: 0 auto;
    display: block;
    height: 2.5rem;
    font-size: 1.25rem;
    border-radius: 3px;
    margin-bottom: .5rem; }
    .flow-input--red {
      border: 2px solid #c01818; }
  .flow-btn {
    height: 4rem;
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 45px;
    width: 80%;
    text-align: center;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.48);
    line-height: 21px;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .flow-btn span {
      font-size: .8rem;
      line-height: 1rem; }
    .flow-btn--red {
      background-color: #c01818;
      color: #fff; }
  .flow-alert {
    border: 2px solid #c01818;
    height: 2.5rem;
    font-size: 1.3rem;
    color: #c01818;
    text-align: center;
    padding: 3px;
    margin: .75rem auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%; }
  .flow-list {
    padding-left: 0; }
    .flow-list li {
      list-style: none;
      padding-left: 30px;
      background-image: url(../img/flow-red/mark.png);
      background-repeat: no-repeat;
      background-position: center left;
      text-align: left;
      margin-bottom: .85rem; }
      .flow-list li:last-child {
        background-image: url(../img/flow-red/dot.png);
        background-position: 3px center; }

.link {
  text-decoration: none;
  font-weight: bold; }
  .link--red {
    color: #c01818; }
  .link--grey {
    color: #333; }

.text-center {
  text-align: center; }

@media (min-width: 600px) {
  body {
    font-size: 20px; } }
