
    <div class="flow flow-red">
        <div class="flow-header">
            <span *ngIf="currentLangEn">
                <img src="/assets/img/en/landing.png" alt="">
            </span>
            <span *ngIf="!currentLangEn">
                <img src="/assets/img/ar/landing.png" alt="">
            </span>
            <div class="flow-lang">
                <span *ngIf="currentLangEn">
                    <a href="javascript:;" (click)="switchLanguage('ar')">AR</a>
                </span>
                <span *ngIf="!currentLangEn">
                    <a href="javascript:;" (click)="switchLanguage('en')">EN</a>
                </span>
            </div>
        </div>
        
        <router-outlet></router-outlet>
        
        <div class="flow-footer">
            <a href="#">{{ 'BottomText.Term' | translate }}</a>
            <a href="#">{{ 'BottomText.PrivacyPolicy' | translate }}</a>
        </div>
    </div>

